@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
    background-color:	#F5F5F5;
}

h1{
    font-family: 'Poiret One';
    text-align: right;
    margin-top: 10px;
    margin-right: 100px;
}
h2{
  font-family:'Poiret One';
  font-size: 20pt;
  float: left;
  margin-top: 125px;
  margin-left: 175px;
}
h3{
  font-family: 'Raleway';
  text-align: left;
  margin-left: 150px;
}
nav{
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}
nav li{
    font-size:12pt;
    padding: 15px;
    list-style: none;
    font-family: 'Raleway';
    display: inline;
    float:right;
}
li a{
    display: block;
    text-decoration: none;
}
li a:link{
    color: #505252;
}
li a:visited{
    color: #505252;
}
li a:hover{
    color: black;
}
a.contactlink{
  color: #505252;
}

div.footer{
    width: 750px;
    margin: auto;
}
span{
    font-weight: bolder;
    font-family: 'Poiret One';
}
div.personal{
  height: 500px;
  width: 1000px;
}
div.portfolio{
    height: 5000px;
    width: 5000px;
    margin: 0 auto;
    height: 1000px;
    width: 900px;
      margin-top: 75px;
}
div.portfoliocontent{
  height: 1000px;
  width: 700px;
  margin-left:120px;
  margin-top: 75px;
}
div.resume{
    height: 1000px;
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;
}
div.contact{
  height: 1000px;
    width:250px;
    margin:auto;
    margin-top: 75px;
}
div.personalcontact{
    height: 450px;
    width: 750px;
    margin: 0 auto;
      margin-top: 75px;
}
h1.home{
    font-family:'Poiret One';
    font-size: 45pt;
    float: left;
    margin-top: 190px;
    margin-left: 170px;
    margin-bottom: 5px;
}
h2.home{
  font-family:'Poiret One';
  font-size: 20pt;
  float: left;
  margin-top: 5px;
  margin-left: 175px;
}
p.contact{
    text-align: justify;
    margin-left: 150px;
    margin-top: 110px;
  font-family: 'Raleway';
}
p.portfolio{

  font-family:'Raleway';
  text-align:justify;
  margin-left: 150px;

}

img.night{
    width:350px;
    height: 200px;
    margin-left: 150px;
    margin-top: 20px;
}
embed.video{
  height:300px;
  width: 400px;
  margin-left: 195px;
  margin-top: 10px;
}
ul.contact{
        font-family: 'Open Sans Condensed';
        text-align: center;
        margin-top: 100px;
}

object.resume{
    margin-left: 100px;
}



MISC

figcaption.contact{
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
    font-size: 10pt;
    text-align: right;
    margin-right: 150px;
}
figcaption.home{
 font-style: italic;
    font-family: 'Paladino';
    font-size: 10pt;
    text-align: right;
    margin-right: 210px;
}
img.comp{
    width: 250px;
    padding: 10px;
    margin-right: 70px;
    margin-left: 195px
}
