@import url('https://fonts.googleapis.com/css?family=Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Raleway');


body{
    background-color:	#DCDCDC;
}

h1{
    font-family: 'Poiret One';
    text-align: right;
    margin-top: 10px;
    margin-right: 100px;
}
h2.resume{
  font-family:'Poiret One';
  font-size: 33pt;
  float: left;
  margin-left: 128px;
  margin-top: 130px;

}

h3.contact{
  font-family:'Poiret One';
  font-size: 16pt;
  float: left;
  margin-top: 5px;
  margin-left: 125px;
}

h3.port2{
  font-family:'Raleway';
  font-size: 16pt;
  margin-top:100px;
  margin-left: 300px;
}
nav{
    float: right;
    margin-right: 60px;
    margin-top: 20px;
}
nav li{
    font-size:12pt;
    padding: 15px;
    list-style: none;
    font-family: 'Raleway';
    display: inline;
    float:right;
}
li a{
    display: block;
    text-decoration: none;
}
li a:link{
    color: #505252;
}
li a:visited{
    color: #505252;
}
li a:hover{
    color: black;
}
a.contactlink{
  color: #505252;
}

div.footer{
    width: 750px;
    margin: auto;
}
span{
    font-weight: bolder;
    font-family: 'Raleway';
}

div.personal{
  height: 500px;
  width: 1000px;
}


div.resume{
    height: 1000px;
    width: 900px;
    margin: 0 auto;
    margin-top: 75px;
}

h1.home{
    font-family:'Poiret One';
    font-size: 45pt;
    float: left;
    margin-top: 190px;
    margin-left: 170px;
    margin-bottom: 5px;
}
h2.home{
  font-family:'Poiret One';
  font-size: 20pt;
  float: left;
  margin-top: 5px;
  margin-left: 175px;
}

div.contactcontent{
  height: 900px;
    width:600px;
    margin:auto;
    margin-top: 75px;
}
h2.contact{
  font-family:'Poiret One';
  font-size: 20pt;
  float: left;
  margin-left: 130px;
  margin-top: 110px;
}
h2.port{
  font-family:'Poiret One';
  font-size: 33pt;
  float: left;
  margin-left: 130px;
  margin-top: 110px;
  margin-bottom: 100px;
}
img.about{
    margin-left: 130px;
    width: 80%;
}


p.contact{
  text-align: justify;
  margin-left: 130px;
  font-family: 'Raleway';
  display: block;
}
p.talk{
  text-align: center;
  margin-left: 130px;
  font-family: 'Raleway';
  display: block;

}
p.portfolio{
  font-family:'Raleway';
  text-align:justify;
  margin-left: 150px;
  margin-top: 65px;
  font-size: 50pt;
}

video.video{
  height:1000px;
  width: 1000px;
  margin-left: 130px;
  margin-top: 100px;
  float: left;
  margin-right: 15px;
}
ul.contact{
  font-family: 'Open Sans Condensed';
  text-align: center;
  margin-top: 100px;
}


object.resume{
    margin-left: 100px;
}
div.shape1{
width: 0;
height: 0;
border-bottom: 450px solid   #D0C6D0;
border-left: 450px solid transparent;
position: absolute;
bottom: 0px;
right: 0px;
position: fixed;
}
div.shapec{
width: 0;
height: 0;
border-top: 340px solid #D0C6D0;
border-right: 340px solid transparent;
position: absolute;
top: 0px;
left: 0px;
position: fixed;
}

div.JR{
  width:800px;
  height:600px;
}
div.DD{
  width:500px;
  height:00px;
}
div.film{
  width: 1000px;
  height: 1000px;
  margin-top: 500px;
}
div.portfoliocontent{
  margin-top: 400px;
  width:700px;
  height:800px;
}

MISC

figcaption.contact{
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
    font-size: 10pt;
    text-align: right;
    margin-right: 150px;
}
figcaption.home{
 font-style: italic;
    font-family: 'Paladino';
    font-size: 10pt;
    text-align: right;
    margin-right: 210px;
}
div.portfolio{
  height: 1000px;
  width: 900px;
  margin: 0 auto;
  margin-top: 75px;
}
