@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Kimberly+Geswein');

body{
    background-color: #f0f0f5;
}

h1{
    font-family: 'Futura';
    text-align: right;
    margin-top: 10px;
    margin-right: 100px;

}
h2{
    font-family: 'Century Gothic';
    text-align: right;
    margin-right: 100px;
}
h3{
  font-family: 'Century Gothic';
  text-align: left;
  margin-left: 150px;
}
nav{
    float: left;
    margin-right: 60px;
    margin-top: 50px;
}
nav li{
    font-size:12pt;
    padding: 15px;
    list-style: none;
    font-family: 'Century Gothic';
    text-decoration: none;
}
li a{
    text-decoration: none;
}
li a:link{
    color: #505252;
}
li a:visited{
    color: #505252;
}
li a:hover{
    color: black;
}
a.contactlink{
  color: #505252;
}

div.footer{
    width: 750px;
    margin: auto;
}
span.first{
    font-weight: bolder;
    font-family: 'Cambria';
}
div.nav{
  height: 650px;
  width: 100px;
  margin: 0 auto;
  float:left;
  border: solid 1px;
  border-radius: 10px;
}

div.navresume{
  height: 900px;
  width: 150px;
  margin: 0 auto;
  float:left;
  border: solid 1px;
  border-radius: 10px;
}
div.navportfolio{
  height: 1500px;
  width: 150px;
  margin: 0 auto;
  float:left;
  border: solid 1px;
  border-radius: 10px;
}
div.personal{
    height: 650px;
    width: 700px;
    margin: 0 auto;
}
div.portfolio{
    height: 5000px;
    width: 5000px;
    margin: 0 auto;
    height: 1000px;
    width: 900px;
}
div.portfoliocontent{
  height: 1000px;
  width: 700px;
  margin-left:120px;

}
div.resume{
    height: 1000px;
    width: 900px;
    margin: 0 auto;
}
div.contact{
    width:250px;
    margin:auto;
}
div.personalcontact{
    height: 450px;
    width: 750px;
    margin: 0 auto;
}
p.home{
    font-family:'Cambria';
    text-align: justify;
    margin-left: 210px;
    margin-right: 90px;
}
p.contact{
    text-align: justify;
    margin-left: 150px;
    margin-top: 110px;
    font-family: 'Cambria';
}
p.portfolio{

  font-family:'Cambria';
  text-align:justify;
  margin-left: 150px;

}

img.night{
    width:350px;
    height: 200px;
    margin-left: 150px;
    margin-top: 20px;
}
embed.video{
  height:300px;
  width: 400px;
  margin-left: 195px;
  margin-top: 10px;
}
ul.contact{
        font-family: 'Cambria';
        text-align: center;
        margin-top: 100px;
}
img.comp{
    width: 250px;
    padding: 10px;
    margin-right: 70px;
    margin-left: 195px
}
object.resume{
    margin-left: 100px;
}
figcaption.contact{
    font-style: italic;
    font-family: 'Lucida Sans Unicode';
    font-size: 10pt;
    text-align: right;
    margin-right: 150px;
}
figcaption.home{
 font-style: italic;
    font-family: 'Cambria';
    font-size: 10pt;
    text-align: right;
    margin-right: 210px;
}
